@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif; }

.border-grey {
  border: 1px solid lightgray !important; }

.dNone {
  display: none !important; }

.itemRemove svg {
  color: #d4074f;
  cursor: pointer; }
  .itemRemove svg:hover {
    text-decoration: none;
    color: #df2365; }

.menu-btn {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: 0;
  margin-right: .7em; }
  .menu-btn:focus {
    outline: none; }

.burger-icon {
  position: relative; }

.burger-icon,
.burger-icon:before,
.burger-icon:after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #303030;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.burger-icon:before,
.burger-icon:after {
  position: absolute;
  content: ""; }

.burger-icon:before {
  top: -8px; }

.burger-icon:after {
  top: 8px; }

.menu-btn.is-active .burger-icon {
  background-color: transparent; }

.menu-btn.is-active .burger-icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

.menu-btn.is-active .burger-icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

.menu {
  position: sticky;
  top: 0;
  z-index: 8999; }
  .menu__burgericon {
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 0;
    height: 2.5em;
    width: 50%;
    visibility: visible;
    display: flex;
    justify-content: flex-end; }
  .menu__bar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF; }
    .menu__bar__logo {
      z-index: 7999;
      background-color: #FFFFFF; }
      .menu__bar__logo img {
        width: 130px;
        padding: 1.1em 0; }
    .menu__bar__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 6999;
      top: 80px;
      transform: translateY(-160px);
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
      background-color: #FFFFFF; }
      .menu__bar__links__item {
        padding-top: .8em;
        color: #303030; }
        .menu__bar__links__item:hover {
          text-decoration: none;
          color: #d4074f; }
        .menu__bar__links__item--latest {
          padding-bottom: .8em; }
        .menu__bar__links__item--active {
          color: #d4074f;
          font-weight: 500; }

.content {
  padding: 0 2em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .content h1 {
    text-transform: uppercase;
    padding-bottom: .5em;
    font-size: 2em; }
  .content h2 {
    padding-bottom: 1em; }
  .content a {
    font-weight: 500;
    color: #d4074f; }

.calculator {
  min-height: 80vh;
  margin-top: 4em;
  margin-bottom: 4em; }
  .calculator__login {
    text-align: right;
    padding-bottom: 2em; }
    .calculator__login #loginBtn,
    .calculator__login #logoutBtn {
      cursor: pointer;
      font-weight: 500;
      color: #303030; }
      .calculator__login #loginBtn:hover,
      .calculator__login #logoutBtn:hover {
        color: #df2365;
        text-decoration: none; }
  .calculator__title h1 {
    font-size: 1.5em; }
  .calculator__form {
    padding-top: 2em; }
    .calculator__form__label {
      padding-top: 1em;
      padding-bottom: .2em;
      padding-left: .2em;
      margin: 0; }
    .calculator__form__submit {
      margin-top: 2em;
      padding: .5em 0;
      color: #FFFFFF;
      background-color: #d4074f;
      border: none;
      border-radius: .3em;
      width: 100%;
      text-transform: uppercase; }
      .calculator__form__submit:hover {
        background-color: #df2365; }
      .calculator__form__submit:focus {
        border: none;
        outline: none; }
    .calculator__form__group {
      display: flex;
      align-items: center;
      border: 1px solid lightgray;
      border-radius: .3em; }
      .calculator__form__group input {
        border: none; }
      .calculator__form__group span {
        color: #303030;
        padding: 0 .5em;
        font-weight: 500;
        border-right: 1px solid lightgray; }
      .calculator__form__group--right span {
        border-right: none;
        border-left: 1px solid lightgray; }
    .calculator__form__volume {
      display: flex;
      flex-direction: column; }
    .calculator__form__text {
      padding: 1em .2em; }
      .calculator__form__text span {
        text-transform: uppercase;
        font-weight: 500; }

.modal-body-form {
  display: flex;
  flex-direction: column; }
  .modal-body-form-label {
    padding: .5em 0;
    margin: 0; }
  .modal-body-form-submit {
    margin-top: 1em;
    padding: .5em 0;
    color: #FFFFFF;
    background-color: #d4074f;
    border: none;
    border-radius: .3em;
    width: 100%;
    text-transform: uppercase; }
    .modal-body-form-submit:hover {
      background-color: #df2365; }
    .modal-body-form-submit:focus {
      border: none;
      outline: none; }

.footer {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer p {
    padding: 2em 0; }

@media (min-width: 768px) {
  .menu__burgericon {
    visibility: hidden; }
  .menu__bar {
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    padding: 0 2em; }
    .menu__bar__links {
      position: relative;
      top: 0;
      flex-direction: row;
      justify-content: flex-end;
      box-shadow: none; }
      .menu__bar__links__item {
        padding-top: 0;
        padding-left: 1.5em; }
        .menu__bar__links__item--latest {
          padding-bottom: 0;
          padding-right: 1em; }
  .calculator {
    padding-top: 2em;
    max-width: 800px; }
    .calculator__form__volume {
      flex-direction: row; }
      .calculator__form__volume > div {
        margin-right: 1em; }
      .calculator__form__volume > div:last-child {
        margin: 0; } }
