@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


// start variables

$black: #303030;
$white: #FFFFFF;
$white2: #F5F5F5;
$red: #d4074f;
$red2: #df2365;
$error: #DC3545;

// end variables

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

// ------------------------------------------------------------- D-NONE

.border-grey{
    border: 1px solid lightgray !important;
}

.dNone {
    display: none;
}

.phRed::placeholder{
    color: $error;
    font-weight: 500;
}




// ------------------------------------------------------------- End D-NONE

// ------------------------------------------------------------- Start itemRemove

.itemRemove svg {
    color: $red;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $red2;
    }
}

// ------------------------------------------------------------- End itemRemove

// ------------------------------------------------------------- Burger BTN

.menu-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 0;
    margin-right: .7em;

    &:focus {
        outline: none;
    }
}

.burger-icon {
    position: relative;
}

.burger-icon,
.burger-icon:before,
.burger-icon:after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $black;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.burger-icon:before,
.burger-icon:after {
    position: absolute;
    content: "";
}

.burger-icon:before {
    top: -8px;
}

.burger-icon:after {
    top: 8px;
}

.menu-btn.is-active .burger-icon {
    background-color: transparent;
}

.menu-btn.is-active .burger-icon:before {
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.menu-btn.is-active .burger-icon:after {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

// ------------------------------------------------------------- Burger BTN

.menu {
    position: sticky;
    top: 0;
    z-index: 8999;

    &__burgericon{
        position: absolute;
        z-index: 9999;
        top: 20px;
        right: 0;
        height: 2.5em;
        width: 50%;
        visibility: visible;
        display: flex;
        justify-content: flex-end;
    }

    &__bar {
        display: flex;
        align-items: center;
        background-color: $white;

        &__logo {
            z-index: 7999;
            background-color: $white;

            img {
                width: 130px;
                padding: 1.1em 0;

            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            z-index: 6999;
            top: 80px;
            // transform: translateY(-160px);
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
            background-color: $white;





            &__item {
                padding-top: .8em;
                color: $black;

                &:hover {
                    text-decoration: none;
                    color: $red;
                }

                &--latest {
                    padding-bottom: .8em;
                }

                &--active {
                    color: $red;
                    font-weight: 500;
                }
            }
        }

        
    }
}

.quotation {
    
        display: flex;
        justify-content: flex-end;
        padding: 0 1.2em;
        
        p {
            display: flex;
            align-items: center;
            margin: 1em 0;
            padding: .3em;
            font-weight: 500;
            color: $black;
            
            svg { 
                color: darkgreen;
                margin: 0 .5em;
            }
        }
    
   
}


.content {
    padding: 0 2em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        text-transform: uppercase;
        padding-bottom: .5em;
        font-size: 2em;

    }

    h2 {
        padding-bottom: 1em;
    }

    a {
        font-weight: 500;
        color: $red;

    }
}

// --------------------------------------------------------------------------------------- START calc section

.calculator {
    min-height: 80vh;
    margin-top: 4em;
    margin-bottom: 4em;
    
    &__login {
        text-align: right;
        padding-bottom: 2em;
        
        #loginBtn,
        #logoutBtn {        
            cursor: pointer;
            font-weight: 500;
            color: $black;
          
            
            
            &:hover {
                color: $red2;    
                text-decoration: none;
            }
        }
    }
    &__title {

        h1 {
            font-size: 1.5em;
        }

    }

    &__form {
        padding-top: 2em;

        &__label {
            padding-top: 1em;
            padding-bottom: .2em;
            padding-left: .2em;
            margin: 0;
        }

        &__submit {
            margin-top: 2em;
            padding: .5em 0;
            color: $white;
            background-color: $red;
            border: none;
            border-radius: .3em;

            width: 100%;
            text-transform: uppercase;

            &:hover {
                background-color: $red2;
            }

            &:focus {
                border: none;
                outline: none;
            }

        }

        &__group {
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            border-radius: .3em;

            input {
                border: none;
            }

            span {
                color: $black;
                padding: 0 .5em;
                font-weight: 500;
                border-right: 1px solid lightgray;

            }

            &--right {
                span {
                    border-right: none;
                    border-left: 1px solid lightgray;
                }
            }
        }

        &__volume {
            display: flex;
            flex-direction: column;
        }

        &__text {
            padding: 1em .2em;

            span {
                text-transform: uppercase;
                font-weight: 500;
            }
        }

    }

}

// --------------------------------------------------------------------------------------- END calc section


// --------------------------------------------------------------------------------------- START modal

.modal {
    &-body{

        &-form{
            display: flex;
            flex-direction: column;

            &-label {
                padding:.5em 0;
                margin: 0;
            }
            &-submit {
                margin-top: 1em;
                padding: .5em 0;
                color: $white;
                background-color: $red;
                border: none;
                border-radius: .3em;
    
                width: 100%;
                text-transform: uppercase;
    
                &:hover {
                    background-color: $red2;
                }
    
                &:focus {
                    border: none;
                    outline: none;
                }   
            }
        }

    }
}

// --------------------------------------------------------------------------------------- END modal

.footer {
    background-color: $white;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        padding: 2em 0;
    }

}


@media (min-width: 768px) {

    .menu {



        &__burgericon {
            visibility: hidden;

        }

        &__bar {
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
            padding: 0 2em;

            &__links {
                position: relative;
                top: 0;
                flex-direction: row;
                justify-content: flex-end;
                box-shadow: none;




                &__item {
                    padding-top: 0;
                    padding-left: 1.5em;

                    &--latest {
                        padding-bottom: 0;
                        padding-right: 1em;
                    }
                }
            }

        }
    }

    .quotation{
        padding: 0 3em;
    }
    .calculator {
        padding-top: 2em;   
        max-width: 800px;

        &__form{

            &__volume{
                flex-direction: row;

                &>div {
                    margin-right: 1em;
                }
                &>div:last-child{
                    margin: 0;
                }
            }
        }

    }


}